[req]
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = US
stateOrProvinceName = NC
localityName = RTP
organizationalUnitName = lia

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ ansible_fqdn }}
IP.1 = {{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
